{% extends "posts/base.html" %}
{% load mathfilters %}
{% block content %}
<h1> Your Shopping Cart </h1><br>
<div class="card" style="padding: 10px">
    <table class="table" id="shop-cart">
      <thead class="titlerow">
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Sub-Total</th>
        <th></th>
      </thead>
    <tbody>
{% for order in orders %}
      <tr class="rowDataSd">
    {% for photo in order.product.productalbum_set.all %} 
      {% if forloop.counter == 1 %} 
        <td width="15%"><img class="img-fluid" src="{{ photo.image.url }}" width="130" height="130"/></td>
      {% endif %}
      {% empty %} 
        <td width="15%"><img class="img-fluid" src="http://placehold.it/120" alt=""/></td>
    {% endfor %} 
        <td width="40%">{{ order.product.name }} <br> <small>{{ order.reference_no }}</small><br><br><i> Comments:{{ order.comment }}</i> </td>
        <td width="15%">{{ order.product.price }}</td>
        <td width="15%">{{ order.qty }}</td>
        <td width="20%" class="rowDataSd">{{ order.product.price|mul:order.qty }}</td>
        <td width="5%"> 
          <a id="edit-cart-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#update_cart_modal" href="{% url 'update-item' order.id %}"><span class="fas fa-pen"></span></a><br>
          
          <a id="delete-cart-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#deleteItemModal" href="{% url 'delete-item' order.id %}"><span class="fas fa-times"></span></a></td>
      </tr>
{% empty %} 
      <tr>
        <td></td>
        <td></td>
        <td><center><h6 >You haven't added any items yet.</h6></center></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
{% endfor %}
      <tr class="totalColumn">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="totalCol">Total: </td>
      </tr>
    </tbody>
  </table>
</div>

<br>

{% if counter != 0 %}
<center>
  <a href="{% url 'post-home'  %}"><span style="float: left;"><i class="fas fa-long-arrow-alt-left"></i></i> Continue Shopping</span></a>
   <a href="{% url 'checkout'  %}"><span style="float: right;"> Checkout <i class="fas fa-long-arrow-alt-right"></i></span>
</center><br></a>
{% else %}
<center>
  <a href="{% url 'post-home'  %}"><span style="float: left;"><i class="fas fa-long-arrow-alt-left"></i></i> Continue Shopping</span></a>
{% endif %}


<!--Update Modal-->
{% include "transactions/includes/update-cart-modal-template.html" %}

<!--Warning Delete Modal-->
{% include "transactions/includes/delete-item-modal.html" %}

{% endblock content %}