{% extends "posts/base.html" %}
{% load mathfilters %}
{% block content %}
<h1> Your Shopping Cart </h1><br>


<div class="card" style="padding: 10px">
    <table class="table">
    <tbody>
{% for order in orders %}
      <tr>
    {% for photo in order.product.productalbum_set.all %} 
      {% if forloop.counter == 1 %} 
        <td width="15%"><img class="img-fluid" src="{{ photo.image.url }}" width="130" height="130"/></td>
      {% endif %}
      {% empty %} 
        <td width="15%"><img class="img-fluid" src="http://placehold.it/120" alt=""/></td>
    {% endfor %} 

        <td width="40%">{{ order.product.name }} <br> <small>{{ order.reference_no }}<small></td>
        <td width="15%">
            <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
            </div>
        </td>
        <td  width="20%">{{ order.product.price|mul:order.qty }}</td>
        <td width="5%"><a id="delete-cart-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#deleteItemModal" href="{% url 'delete-item' order.id %}"><span class="fas fa-times"></span></a></td>
      </tr>
{% empty %} 
      <tr> <br>
          <center><h4 class="display-4">No Products Yet</h4>
          <p class="lead">Start by Buying Now! </p></center>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>


<!--Update Modal-->
{% include "posts/includes/update-post-modal-template.html" %}

<!--Warning Delete Modal-->
{% include "transactions/includes/delete-item-modal.html" %}

{% endblock content %}