certifi==2018.11.29
chardet==3.0.4
Click==7.0
defusedxml==0.5.0
Django==2.0.10
django-allauth==0.38.0
django-crispy-forms==1.7.2
django-javascript-settings==1.1.2
django-mathfilters==0.4.0
django-octicons==1.0.2
Flask==1.0.2
geoip2==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
maxminddb==1.4.1
oauthlib==3.0.0
pbr==5.1.1
Pillow==5.0.0
pkg-resources==0.0.0
pygeoip==0.3.2
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
stevedore==1.30.0
stripe==2.18.1
urllib3==1.24.1
virtualenv==16.2.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
Werkzeug==0.14.1
