body {
  background: #e9ebee;
  color: #333333;
  
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.list-group-item {
    border: none!important;
}


.btn-fb{
  background-color: #4267b2!important;
  border-color: #4267b2!important;
  color: white!important;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



#product-details{
  text-align: left;
  padding: 10px!important;
  padding-top: 0!important;
}

#product-details p{
  margin-bottom: 0!important;
  color:#1d2129;;
}

#product-details small{
  color:#90949c;
}

#product-details hr{
  margin: 0px!important;
  margin-bottom: 10px!important;
}

a:hover{
  text-decoration: none;
}


#price-badge{
  position: absolute;
  margin-left: 10px;
  width: 25%;
  text-align: center;
  top: 65%;
  font-size: 16px;
}


/*Create Post Form */
#btn-create{
  float: right;
  margin-top: 10px;
}

#btn-update{
  float: right;
  margin-top: 10px;
}


#new_post_modal .modal-title{
  color: #1d2129;
  font-size: 14px;
}

#new_post_modal .modal-body{
  padding: 5;
}

#id_name, #id_price, #id_location, #id_category{
  border: none;
  border-bottom: 1px solid #ccd4da;
}

#id_description{
  border: none;
}

#id_category select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  font-size: 14px!important;
}

/* For IE10 */
#id_category  select::-ms-expand {
  display: none;
}

#new_post_modal .card{
  padding: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

.list-group-item-light {
    color: #343a40!important; 
    background-color: #e9ebee!important;
}

/* Detail modal */

#detail-body.modal-body{
  padding: 0;
}

#detail-body div.container{
  padding: 0;
}