body {
  background: #e9ebee;
  color: #333333;
  
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.list-group-item {
    border: none!important;
}


.btn-fb{
  background-color: #4267b2!important;
  border-color: #4267b2!important;
  color: white!important;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



#product-details, #comment-portion, #product-details1{
  text-align: left;
  padding: 10px!important;
  padding-top: 0!important;
}

#product-details p , #product-details1 p, #comment-portion p{
  margin-bottom: 0!important;
  color:#1d2129;;
}

#product-details small, #product-details1 small, #comment-portion small{
  color:#90949c;
}

#product-details hr ,#product-details1 hr, #comment-portion hr{
  margin: 0px!important;
  margin-bottom: 10px!important;
}

a:hover{
  text-decoration: none;
}


#price-badge{
  position: absolute;
  margin-left: 10px;
  width: 25%;
  text-align: center;
  top: 65%;
  font-size: 16px;
}


/*Create Post Form */
#btn-create{
  float: right;
  margin-top: 10px;
}

#btn-update{
  float: right;
  margin: 10px;
}


#new_post_modal .modal-title{
  color: #1d2129;
  font-size: 14px;
}

#new_post_modal .modal-body{
  padding: 5;
}

#id_name, #id_price, #id_location, #id_category, #id_qty, #id_stock_total{
  border: none;
  border-bottom: 1px solid #ccd4da;
  font-size: 14px;
}

#id_description, #id_comment{
  border: none;
  font-size: 14px;
}

#id_category select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  font-size: 14px!important;
}

label.col-form-label.requiredField, label.form-check-label {
    font-size: 14px;
    margin-left: 10px;
    color: #848484;
}

div#div_id_is_draft {
    float: right;
    margin-right: 10px;
}

/* For IE10 */
#id_category  select::-ms-expand {
  display: none;
}

#new_post_modal .card{
  padding: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

.list-group-item-light {
    color: #343a40!important; 
    background-color: #e9ebee!important;
}

/* Detail modal */


#detail-body.modal-body{
  padding: 0;
}

.breadcrumb{
  background-color: #ffffff!important;
  margin-bottom: 5px;
}

.breadcrumb-item{
  color: #8d949e;
  font-size: 12px;
  font-style: normal;
}

.breadcrumb-item a{
  color: #8d949e;
}

#header-modal ol{
  padding: 10px 0 10px 10px;
}

.detail-account-img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.sold-account-img{
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* Upload */


.pac-container { z-index: 1051 !important; }


/*Tab link*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #e9ebee;
    border-color: #6c757d #dee2e6 #e9ebee;
    border-top: 2px solid #262626!important;
    border-left: none;
    border-right: none;

}

a#post-tab, a#fav-tab {
    color: #262626!important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}