body {
  background: #e9ebee;
  color: #333333;
  
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.list-group-item {
    border: none!important;
}


.btn-fb{
  background-color: #4267b2!important;
  border-color: #4267b2!important;
  color: white!important;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



#product-details{
  text-align: left;
  padding: 10px!important;
  padding-top: 0!important;
}

#product-details p{
  margin-bottom: 0!important;
  color:#1d2129;;
}

#product-details small{
  color:#90949c;
}

#product-details hr{
  margin: 0px!important;
  margin-bottom: 10px!important;
}

a:hover{
  text-decoration: none;
}


#price-badge{
  position: absolute;
  margin-left: 10px;
  width: 25%;
  text-align: center;
  top: 65%;
  font-size: 16px;
}


/*Create Post Form */
#btn-create{
  float: right;
  margin-top: 10px;
}

#btn-update{
  float: right;
  margin-top: 10px;
}


#new_post_modal .modal-title{
  color: #1d2129;
  font-size: 14px;
}

#new_post_modal .modal-body{
  padding: 5;
}

#id_name, #id_price, #id_location, #id_category{
  border: none;
  border-bottom: 1px solid #ccd4da;
}

#id_description{
  border: none;
}

#id_category select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  font-size: 14px!important;
}

/* For IE10 */
#id_category  select::-ms-expand {
  display: none;
}

#new_post_modal .card{
  padding: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

.list-group-item-light {
    color: #343a40!important; 
    background-color: #e9ebee!important;
}

/* Detail modal */


#detail-body.modal-body{
  padding: 0;
}

.breadcrumb{
  background-color: #ffffff!important;
  margin-bottom: 5px;
}

.breadcrumb-item{
  color: #8d949e;
  font-size: 12px;
  font-style: normal;
}

.breadcrumb-item a{
  color: #8d949e;
}

#header-modal ol{
  padding: 10px 0 10px 10px;
}

.detail-account-img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.sold-account-img{
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* Upload */

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


