{% load crispy_forms_tags %}
<div class="card">
  <form id="post-create-form" method="POST" action="{% url 'post-create' %}" novalidate>
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button id="btn-create" class="btn btn-fb btn-sm" type="submit">Submit</button>
    </div>
	</form>
 </div>
 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKvPY3OZ1iucypZfiL733-qTpK0N15rhM&libraries=places&callback=initAutocomplete" async defer></script>