{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap-grid-min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap-reboot-min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!--Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">

  <title>Marketplace</title>
</head>
<body>
   <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'post-home' %}">Marketplace</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'post-home' %}">Home</a>
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <div class="container" style="max-width: 1500px;">
      <div class="row">
        <div class="col-md-2">
          <div class="content-section ">
            <h3>Marketplace</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Browse</li>
                <li class="list-group-item list-group-item-light">Buying</li>
                <a href=""><li class="list-group-item list-group-item-light">Selling</li></a>
                <li class="list-group-item list-group-item-light">Saved Items</li>
                <li class="list-group-item list-group-item-light "><button type="button" id="new_post" class="btn btn-primary btn-sm btn-block btn-fb" data-toggle="modal" data-target="#new_post_modal"><span class="fas fa-plus"></span> Sell Something</button></li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        
        {% block content %}{% endblock %}
        </div>
       
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'posts/js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'posts/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/main.js' %}"></script>
  
</body>
</html>