{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	{% include "posts/header.html" %}
</head>
<body>
    <!-- Navigation Bar -->
  	{% include "posts/navigation.html" %} <br>
    <div class="container" style="max-width: 1500px;">
      <div class="row">

        <div class="col-md-2">
          <div class="content-section">
            {% if user.is_authenticated %}
               {% include "posts/sidebar.html" %}
            {% else %}
               {% include "posts/sidebar_un.html" %}
            {% endif %}
          </div>
        </div>

        <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          
          {% block content %}{% endblock %}
        </div>
       
      </div>
    </div>

  <!--Modal Templates-->
  <!--Create Modal-->
  {% include "posts/includes/create-post-modal-template.html" %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% include "posts/scripts.html" %}

</body>
</html>