{% extends "posts/base.html" %}
{% load mathfilters %}
{% block content %}

 <div class="container">
    {%  for order in orders %}
        {% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}
          <div class="col-xl-3" style="padding-bottom: 15px">
                <div class="card">
                {% for photo in order.product.productalbum_set.all %} 
                    {% if forloop.counter == 1 %} 
                        <img class="img-fluid" src="{{ photo.image.url }}" width="255" height="245" /> 
                    {% endif %}
                {% empty %}
                  <img class="img-fluid" src="http://placehold.it/245" alt=""/> 
                {% endfor %}
                  <span class="badge badge-dark" id="price-badge" style="top: 50%">{{ order.product.price|mul:order.qty }}</span>

                  <div class="card-content" id="product-details">
                      <hr>
                       <b><p><span style="color: red">Sold</span> {{ order.product.name }} x {{ order.qty }} </p></b>
                       <small>{{ order.product.location }} </small>
                  </div><!-- card content -->
                  <hr style="margin-bottom: 10px;margin-top: 5px;">
                  <div class="media" style="padding-left: 10px; padding-right: 10px;">
                     <a href="{% url 'profile' order.product.seller.username %}"> <img class="rounded-circle detail-account-img" src="{{ order.product.seller.profile.image.url }}"></a>
                      <div class="media-body" style="text-align: left">
                         <b><a href="{% url 'profile' order.product.seller.username %}" style="color: black; "><p style="margin-bottom: 0; margin-top: 5px">{{ order.product.seller.username }}</p></a></b>
                         <a href="{% url 'profile' order.product.seller.username %}" style="color: black"><h6>{{ order.product.seller.first_name }} {{ order.product.seller.last_name }}</h6></a>
                      </div>
                  </div>

              </div><!-- card -->
            
          </div><!-- col-xl-4 -->
        {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><br>{% endif %}
    {% empty %}
        <center><div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">No Products Yet</h1>
            <p class="lead">Start by Buying Now. </p>
          </div>
        </div></center>
    {%  endfor %}

</div><!-- container -->

<!--Detail Modal-->
{% include "posts/includes/post-detail-modal.html" %}

{% endblock content %} 