{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  {%  for product in products  %} <!--For loop -->
    <div class="card"><!--Card -->
        <div class="row"><!--Row -->
          <div class="col-sm-6" style="padding-right: 0px">
            <div class="media" style="padding:10px; padding-bottom: 0"><!-- seller -->
                <a href="{% url 'profile' product.seller.username %}"> 
                  <img class="rounded-circle detail-account-img" src="{{ product.seller.profile.image.url }}">
                </a><!--closing seller image -->

                <div class="media-body" style="text-align: left"><!-- seller info -->
                   <b>
                      <a href="{% url 'profile' product.seller.username %}" style="color: black; "><p style="margin-bottom: 0; margin-top: 5px">{{ product.seller.first_name }} {{ product.seller.last_name }}</p></a>
                      <a href="{% url 'profile' product.seller.username %}" style="color: black">
                        <small>{{ product.location }} {{ product.created_at | timesince }}</small>
                      </a>
                   </b>
                </div><!--closing seller info -->
             </div> <!-- closing seller -->

            <div class="card-content" id="product-details1">
                <hr>
                <b>
                  <p style="padding-bottom: 5px">{{ product.name }} INSTOCK 
                    <span style="float: right">  
                      {% if user.is_authenticated %}
                        {% if user != product.seller %} 
                          {% for favorite in favorites %} 
                              {% if favorite.product == product %}
                                  {% if favorite.is_favorite == False %}
                                    <a href="{% url 'favorite' product.id %}"><i class="far fa-star"></i></a>   
                                  {% else %}
                                    <a href="{% url 'unfavorite' product.id %}"><i class="fas fa-star"></i></a> 
                                  {% endif %} 
                              {% endif %}
                           {% endfor %} 
                        {% endif %}
                      {% endif %} 
                    </span>
                  </p>
                </b>
                <b><p style="color:#71a830;font-size: 14px; padding-bottom: 5px">P {{ product.price }} </p></b>
                <p style="font-size: 13px;padding-bottom: 5px">{{ product.description }} </p> 
            </div><!-- information -->

            <div id="carouselExampleIndicators{{product.name}}" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                {% for photo in product.productalbum_set.all %} 
                    <li data-target="#carouselExampleIndicators{{product.name}}" data-slide-to="{{ forloop.counter }}" class="{% if forloop.counter == 1 %} active {% endif %}"></li>
                {% empty %}
                {% endfor %}
                  </ol>
                <div class="carousel-inner">
                  {% for photo in product.productalbum_set.all %} 
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" id="slide{{ forloop.counter }}">
                      <img class="d-block w-100" src="{{ photo.image.url }}">
                    </div>
                {% empty %}
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="http://placehold.it/500" alt="First slide">
                    </div>
                  {% endfor %}
                </div>

                {% for photo in product.productalbum_set.all %} 
                  <a class="carousel-control-prev" href="#carouselExampleIndicators{{product.name}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators{{product.name}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                {% empty %}
                {% endfor %}
            </div><!-- carousel --><!--Col-sm-6 --><!--Col-sm-6 -->
          </div><!-- Closing Col-sm-6 -->

          <div class="col-sm-6" style="padding-left: 0px;"><!--  Col-sm-6 -->

            <div style="overflow: scroll;overflow-x: hidden;max-height: 675px">
            {% for comment in comments %}  
              {% if comment.product == product %}  
                <div class="card" style="padding: 10px;">

                  <div class="media">
                    <a href="{% url 'profile' comment.user.username %}"> <img class="rounded-circle detail-account-img" src="{{ comment.user.profile.image.url }}" style="height: 35px; width:35px;margin-right:0;margin-bottom:0; border: #6c757d solid 0.9px;"></a> &nbsp;&nbsp;

                    <div class="media-body" style="text-align: left">
                      <b><a href="{% url 'profile' comment.user.username %}" style="color: black; ">
                      <p style="margin-bottom: 0; margin-top: 5px; font-size: 14px">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></b> {{ comment.comment }}</p>
                    </div>

                    {% if user.is_authenticated %}  
                      <div class="btn-group dropleft" style="float: right">
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h" style="color:#adafb1;float: right;" ></i></a>
      
                        <div class="dropdown-menu">
                          <a id="delete-comment-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#deleteCommentModal" href="{% url 'delete-comment' comment.id %}"><span class="fas fa-times"></span> Delete</a>

                          <a id="edit-comment-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#update_comment_modal" href="{% url 'comment-update' comment.id %}"><span class="fas fa-pen"></span> Edit</a>
                        </div>
                        </div>
                    {% endif %}
                  </div>  
                </div><!-- comments -->
              {% endif %}
            {% endfor %}   
            </div>

            <div class="card-content" id="comment-content">
              {% if user.is_authenticated %}
                <div class="cart-div">

                  <form id="comment-form" action="{% url 'community' %}" method="POST" novalidate>
                    {% csrf_token %}
                    <fieldset class="form-group" style="margin-bottom: 0px;">
                        {{ form|crispy }}
                    </fieldset>
                    <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <button id="btn-add-cart" class="btn btn-primary btn-sm btn-block btn-fb" type="submit">Comment</button>
                    </div>
                  </form> 
                </div>
              {% else %}
                <small class="text-muted" style="padding: 10px;">
                  Want to Comment? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
              {% endif %}
                    
            </div>
          </div><!-- Closing Col-sm-6 -->
      </div><!--Closing Row -->
    </div><br><!--Closing Card -->
{% empty %}
  <center><div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">No Products Yet</h1>
      <p class="lead">Start by Creating a Product. </p>
    </div>
  </div></center>
{%  endfor %}<!--End for -->
</div>


<!--Detail Modal-->
{% include "posts/includes/post-detail-modal.html" %}

<!--Update Modal-->
{% include "posts/community/update-comment-template.html" %}

<!--Warning Delete Modal-->
{% include "posts/community/delete-comment-modal.html" %}


{% endblock content %} 


 