{% load static %}
	<script type="text/javascript" src="{% static 'posts/js/jquery.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'posts/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'posts/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'transactions/main.js' %}"></script>