<h3>Marketplace</h3>
<ul class="list-group">
	<li class="list-group-item list-group-item-light"><a href="{% url 'post-home' %}">Browse</a></li>
	<li class="list-group-item list-group-item-light">Buying</li>
	<a href=""><li class="list-group-item list-group-item-light">Selling</li></a>
	<li class="list-group-item list-group-item-light "><button class="btn btn-primary btn-sm btn-block btn-fb" data-toggle="modal" data-target="#new_post_modal" style="color: white" ><span class="fas fa-plus"></span> Sell Something</button></li>
</ul>

