<h3>Marketplace</h3>
<ul class="list-group" id='myList'>
	<a id="browse-btn" href="{% url 'post-home' %}"><li class="list-group-item list-group-item-light">Browse</li></a>
	<li class="list-group-item list-group-item-light">Buying</li>
	<a id="selling-btn" href="{% url 'user-products' request.user.username %}"><li class="list-group-item list-group-item-light">Selling</li></a>
	<li class="list-group-item list-group-item-light "><button class="btn btn-primary btn-sm btn-block btn-fb" data-toggle="modal" data-target="#new_post_modal" style="color: white" ><span class="fas fa-plus"></span> Sell Something</button></li>
</ul>


